:root {
  /* Primary Color */
  --color-primary: #f27a1a;
  --color-primary-highlight: #ef6114;
  --color-primary-contrast: #fef2e8;

  /* Success Color */
  --color-success: #0bc15c;
  --color-success-highlight: #09a44e;
  --color-success-contrast: #e7f9ef;

  /* Danger Color */
  --color-danger: #ff5043;
  --color-danger-highlight: #ff3028;
  --color-danger-contrast: #ffeeec;

  /* Warning Color */
  --color-warning: #ffb600;
  --color-warning-highlight: #ff9800;
  --color-warning-contrast: #fff8e6;

  /* Info Color */
  --color-info: #5794ff;
  --color-info-highlight: #457eff;
  --color-info-contrast: #eef4ff;

  /* Neutral Color */
  --color-neutral-none: #000;
  --color-neutral-darkest: #0f131a;
  --color-neutral-darker: #273142;
  --color-neutral-dark: #6e7787;
  --color-neutral-light: #95a1b5;
  --color-neutral-lighter: #afbbca;
  --color-neutral-lightest: #f1f2f7;
  --color-neutral-full: #fff;

  /* Size and Spacing */
  --size-4xs: 0.125rem; /* 2px */

  /* Z-indexes */
  --index-deep: -1;
  --index-base: 1;
  --index-popover: 100;
  --index-tooltip: 200;
  --index-sticky: 300;
  --index-overlay: 400;
  --index-dialog: 500;
  --index-notification: 600;

  /* Typography */
  --font-family: "Rubik Variable", sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font sizes */
  --font-size-2xs: 0.5rem; /* 8px */
  --font-size-xs: 0.625rem; /* 10px */
  --font-size-s: 0.75rem; /* 12px */
  --font-size-m: 0.875rem; /* 14px */
  --font-size-l: 1rem; /* 16px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.75rem; /* 28px */
  --font-size-4xl: 2rem; /* 32px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 4rem; /* 64px */

  /* Border radius */
  --border-radius-xs: 0.125rem; /* 2px */
  --border-radius-s: 0.25rem; /* 4px */
  --border-radius-m: 0.375rem; /* 6px */
  --border-radius-l: 0.5rem; /* 8px */
  --border-radius-pill: 62.438rem; /* 999px */
  --border-radius-circle: 50%;


  --font-title-1-font-size: var(--font-size-xl);

  --font-body-text-1-font-size: var(--font-size-l);
  --font-body-text-1-line-height: calc(
    var(--font-body-text-1-font-size) + var(--size-4xs)
  );
  --font-body-text-1-size: var(--font-body-text-1-font-size) /
    var(--font-body-text-1-line-height);
  --font-body-text-1: var(--font-body-text-1-size) var(--font-family);
  --font-body-text-1-regular: var(--font-weight-regular) var(--font-body-text-1);
  --font-body-text-1-medium: var(--font-weight-medium) var(--font-body-text-1);


  --color-primary-hover: var(--color-primary-highlight);
  --color-success-hover: var(--color-success-highlight);
}
 
